/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* You can add global styles to this file, and also import other style files */

.cursor {
    cursor: pointer;
}

.gray {
    background-color: #f5f5f5
}

.highlight {
    background: #398bf7;
}

.rcorners5px {
    border-radius: 5px;
    border: 1px solid #67757c;
    padding: 10px;
}

.card {
    margin-bottom: 30px;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #99abb4;
}

.card .card-title {
    position: relative;
}

.floatRightClear {
    float: right;
    clear: right;
    margin-left: 20px
}